/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
 */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  color: #ededed;
  font-family: HelveticaNeue, Helvetica, Arial, "Nimbus Sans L", "Liberation Sans", FreeSans, Sans-serif;
}

.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../images/background.jpg) center;
  background-size: cover;
  opacity: 0.8;
  overflow: auto;
}

.container {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.inner {
  display: table-cell;
  vertical-align: middle;
}

.headlines {
  width: 80%;
  margin: 0 auto;
}

@media (min-width:800px) {
  .headlines { width: 50%;}
}

hr {
  border: 0;
  height: 3px;
  background-color: #ededed;
  margin: 1em 0;
}

h1 img {
  width: 100%;
  height: auto;
  -webkit-transition: width 0.2s, height 0.2s;
  transition: width 0.2s, height 0.2s;
}

h2 {
  font-size: 3rem;
  margin: 2rem 0;
  letter-spacing: 0.05rem;
}

h2 span {
  background-color: #fc4c1b;
  color: #ededed;
  display: inline-block;
  padding: 0px 4px 4px 4px;
}

.links a {
  text-decoration: none;
  font-size: 3rem;
  color: #ededed;
  margin: 5px;
  -webkit-transition: font-size 0.2s, color 0.4s;
  transition: font-size 0.2s, color 0.4s;
}
@media (min-width:641px) {
  .links a { font-size: 6rem; }
}

.links a span {
  display: none;
}

a:hover {
  color: #fc4c1b;
  border-color: #fc4c1b;
}
